@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekanwebregular\ \(1\).woff');
}

@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekanwebbold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'pelak';
  src: url('./assets/fonts/Pelak-Black.otf');
}

* {
  font-family: 'iranyekan';
}

.logo h2 {
  font-family: 'pelak';
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background-color: #fff !important;
  padding: 30px !important;
  border-radius: 50%;
  left: 6px !important;
  border: 1px solid #e2e2e2
}

.swiper-button-prev {
  background-color: #fff !important;
  padding: 30px !important;
  border-radius: 50%;
  right: 6px !important;
  border: 1px solid #e2e2e2
}

.dropDownBox {
  z-index: 9999;
}