@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekanwebregular\ \(1\).woff');
}
@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekanwebbold.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'pelak';
  src: url('./assets/fonts/Pelak-Black.otf');
}
*{
  font-family: 'iranyekan';
}
.logo h2{
  font-family: 'pelak';
}